<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Prince::top_popup" module="Prince_Popup" resource="Magento_Backend::content" sortOrder="20" title="Popup Manager"/>
		<add action="prince_popup/popup/index" id="Prince::prince_popup" module="Prince_Popup" parent="Prince::top_popup" resource="Magento_Backend::content" sortOrder="9999" title="Popup Manager"/>
	</menu>
</config>
